<!-- auth/signup.component.html -->
<div class="container d-flex justify-content-center align-items-top min-vh-100">
  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <h2 class="text-center my-3">Signup</h2>
    <div class="text-center my-3">
      <span>Already have an account?</span>
      <a routerLink="/login" class="mx-2">Login</a>
    </div>

    <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
      <div class="mb-3"> <input class="form-control" formControlName="username" placeholder="Username" required> </div>
      <div class="mb-3"> <input class="form-control" formControlName="email" placeholder="Email" required> </div>
      <small *ngIf="signupform.get('email')?.errors?.['required']">Email is required.</small>
      <small *ngIf="signupform.get('email')?.errors?.['email']">Invalid email format.</small>
      <div class="mb-3"> <input class="form-control" type="password" formControlName="password" placeholder="Password"
          required>
      </div>
      <div class="mb-3"> <input class="form-control" type="password" formControlName="confirmpassword"
          placeholder="Confirm password" required>
      </div>
      <button class="btn btn-primary w-100" type="submit" [disabled]="!signupform.valid">Signup</button>
    </form>
  </div>
</div>