<div class="container mt-4">
     <div class=" row  justify-content-center">
    <form [formGroup]="searchProductForm" class="d-flex col-md-4 text-center m-3" role="search" (submit)="submitForm()">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" formControlName="title"
            required />
        <button class="btn btn-outline-success" type="submit" [disabled]="searchProductForm.invalid">
            <i class="bi bi-search"></i>
        </button>
    </form>
    </div>
    <div class="row">

        <div class="col-md-4 mb-4" *ngFor="let product of products">

            <div class="card h-100 mb-3" style="max-width: 540px;">
                <div class="col g-0">
                    <div class="img-box ">
                        <img [src]="product.procesImg" class="text-center img-fluid" alt="no image">
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <div class="div"> <label> Category:</label> <span
                                    class="info-label">{{product.categoryName}}</span>
                            </div>

                            <div class="div"> <label>Price:</label>
                                <input type="text" value={{product.price}}>
                                
                            </div>
                            <div class="div"> <label> Description:</label> <span
                                    class="card-text">{{product.description}}</span> </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary m-1" >Faq</button>
                    <button type="button" class="btn btn-danger m-1" (click)="deleteProduct(product.id)">Delete</button>
                    <button type="button" class="btn btn-warning m-1" [routerLink] =" '/admin/product/' + product.id">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>