<div class="container d-flex justify-content-center align-items-top min-vh-100">
  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <h2 class="text-center mb-4">Login</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input type="email" class="form-control" formControlName="email" placeholder="Email" required />
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" formControlName="password" placeholder="Password" required />
      </div>
      <div class="form-group mb-3">
        <div class="custom-control custom-checkbox ">
          <input type="checkbox" class="custom-control-input me-2" id="customControlInline"> 
          <label class="custom-control-label" for="customControlInline">Remember me</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="!form.valid">Login</button>
      <div class="mb-3">
					<div class="my-3  d-flex justify-content-center links">
						Don't have an account? <a routerLink="/signup" class="mx-2">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
    </form>
  </div>
</div>

